<div class="ctn-title">
    <h1>
        Game
    </h1>
    <div class="ctn-badges">
        <span>
            #1
        </span>
        <span>
            <label class="online-btn">
            </label>
            2 joueurs en ligne
        </span>
        <span>
            0 partie jouée
        </span>
        <div id="token-div" data-token="{{ token }}"></div>
        <div id="loadingAnimation" style="display: none;">
            <p>Loading... Waiting for another player to join</p>
            <!-- Add your spinner or animation here -->
        </div>
    </div>
</div>
